Website:https://www.format.com/login
 HYPERLINK "mailto:kevinconru@yahoo.com"kevinconru@yahoo.com
Doublebass-1959
General update for all the pages: to delete LinkedIn icon, to keep Facebook and Instagram icons instead 
Hyperlinks:
 HYPERLINK "https://www.facebook.com/kevin.conru/"https://www.facebook.com/kevin.conru/
 HYPERLINK "https://www.instagram.com/kevinconru/"https://www.instagram.com/kevinconru/
ABOUT page: to replace the current text with the below one:
Kevin Conru is known for his publications on Southern African art, the photographs of Hugo Bernatzik, and the arts of Oceania. He has travelled extensively in the Pacific and is a member of the Pacific Arts Association and the Oceanic Art Society. He has an Arts Policy MA from The City University, London, and is an orchestral double bassist.
Kevin has published online the South Seas diary of a turn-of-the 20th century Australian journalist, and has a produced major book on the art of the Bismarck Archipelago in Melanesia which was released in September, 2013. This book formed the basis of the Rotterdam Wereld Museum's Ring of Fire exhibition that took place in 2013-2014. He has curated an important exhibition of Papua New Guinea masterpieces from the Royal Museum for Central Africa, which was held in Brussels in 2014.
Along with Robert Hales, he published a comprehensive book on the archive of William Oldman in 2016, and later in 2021, the archive of the Belgian collector and dealer, Baron Freddy Rolin. He has curated and published on the arts of the Sepik / Ramu area of Papua New Guinea in 2019 and the arts of Polynesia in 2023. Both of these publications accompanied related exhibitions which were held at Lempertz Brussels. In 2024, he organised an Oceanic art exhibition that celebrated 100 years of Surrealism for the ARTONOV festival in Brussels. Recently, in 2025, he published the archive of the German Collector, Ernst Heinrich and a book on A.B. Lewis’s personal photographs of New Guinea artefacts. 
Kevin Conru advises the Wyvern Research Institute in London. Beyond his curatorial and academic work, he produced two short films: The Oldman Collection - Maori Art in London (2006) and ‘Ontong Java, Encounters and Observations’ (2023).
Contact:
Tel: +32 478 566 459
Email: kevinconru@yahoo.com
PUBLICATIONS page: to add additional publications entry (all files are sent separately via wetransfer), namely:
ART OF THE POLYNESIAN OUTLIERS 
Baron Rolin 
 -    Sepik Rama Art
Polynesian art 
VIDEO page:
To delete repeating text under the “Oldman collection” video (“This film was edited using William Oldman's personal 16mm print copy…”)
To add and embed this 2nd video https://www.youtube.com/watch?v=eq7e28pEuL4&t=45s with the following introduction:This is a short film made based on early 20th century visual sources taken on Ontong Java Atoll, the majority of which are unknown.  
To add and embed this 3rd video https://www.youtube.com/watch?v=YsdygtWSkxk with the following introduction: Curated by Kevin Conru, this exhibition, commemorating 100 years of Surrealism as an international artistic movement, presents a selection of artworks from the Pacific Islands – New Guinea, New Britain, Vanuatu and Easter Island – which greatly influenced artists of the time and which continue to stimulate the imagination today.
PRESS page: to add the following publication (sent via wetransfer)
Special Conru Online insert web 
LINKS page:
To add 
Advisor of:
Wyvern Research Institute 
 HYPERLINK "https://wyvernresearch.org/"https://wyvernresearch.org/
AROUND THE CORAL SEA page: to delete 
